@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

div {
  font-family: 'Muli', sans-serif;
}

.rows{
  margin-top: 5%
}

.columns{
  padding: 25px 25px 25px 25px;
  border: 4px;
  border-radius: 5px;
}

.columns-left{
  width: 100%;
  border-right-style: none;
  background-color: #FFF0F5;
}

.columns-right{
  width: 100%;
  border-left-style: none;
  background-color: #FFE4E1;
  margin-left: 5%; 
}

.navbar a{
  color: white !important;
  font-size: 20px;
}
.navbar-nav{
  align-items: right;
}

.container{
  width: 100%;
}
