@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

div {
  font-family: 'Muli', sans-serif;
}

.rows{
  margin-top: 5%;
}

.columns{
  padding: 25px 25px 25px 25px;
  border: 6px;
  border-radius: 5px;
}

.columns-left{
  width: 100%;
  border-right-style: none;
  background-color: #FFF0F5;
  box-shadow: 10px 15px 15px 5px #302f75;
}

.columns-right{
  width: 100%;
  border-left-style: none;
  background-color: #FFF0F5;
  box-shadow: 10px 15px 15px 5px #302f75;
}

.button{
  width: 100%;
  border-radius: 8%;
  border: none;
  color: white;
  font-size: 100%;
  padding: 10%;
  background-color: #FF66C4;
  border-color: #FF66C4;
  outline-color: #FF66C4;
}

.button:active{
  background-color: #002262;
  border-color: #002262;
  outline-color: #002262;
}

.button:hover{
  background-color: #002262;
  border-color: #002262;
  outline-color: #002262;
}

.button:focus{
  background-color: #002262;
  border-color: #002262;
  outline-color: #002262;
}

.navbar a{
  color: white !important;
  font-size: 20px;
}
.navbar-nav{
  align-items: right;
}

.container{
  width: 100%;
}

.footer{
  padding: 10px;
  width: 100%;
  opacity: 0.9;
  margin-top: 2%;
  color:white;
}

.add-token-row{
  margin-top: 4%;
  background-color: #FFF0F5;
  border-radius: 5px;
  padding: 2%;
  box-shadow: 10px 15px 15px 5px #302f75;
}


.button-addToken{
    width: 100%;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 100%;
    text-align: center;
    padding: 8px;
    background-color: #FF66C4;
}

.address{
  color:white;
  padding: 8px;
  font-weight: bold;
}

.connected-address{
  border-radius: 5px;
  color:white;
  padding: 8px;
  font-weight: bold;
  background-color: #302f75;
}
